.category__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #212124;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-right: 1.28125rem;
    padding-left: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border: 0.0625rem solid transparent;
    border-radius: 0.3125rem;
    
    transition-property: border;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.category:hover {
    border-radius: 0.3125rem;
    border: 0.0625rem solid #1f2b6c1b; 
}

.category__bubble {
    border-radius: 3.125rem;
    background: #159EEC; 

    padding: 0.0625rem 0.5rem;

    font-size: 1rem;
    color: #FCFEFE;
}