.posts-bar {
    border-radius: 0.3125rem;
    border: 0.0625rem solid #1f2b6c27; 

    width: 19.625rem;
    height: auto;

    padding: 1.25rem;
}

.posts-bar__header {
    color:#1F2B6C;
    font-family: 'Yeseva One', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

    margin-top: 0;
    margin-bottom: 1.5rem;
}

.posts-bar__slugs > .article-slug {
    margin-bottom: 0.5rem;
}

.article-slug:last-child {
    margin-bottom: 0;
}