.buttonWithIcon {
  width: Hug (154.83px);
  height: Hug (45px);
  top: 59px;
  left: 194px;
  padding: 13px 26px 13px 26px;
  border-radius: 50px;
  gap: 8px;
  background: #bfd2f8;
  border: white;
  position: relative;
}

.readMore {
  width: 84px;
  height: 19px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
}

.vector {
  width: 10.833333015441895px;
  height: 10px;
  border: 2px;
  color: #1f2b6c;
}

.goals {
  width: 529px; /*нужно ли HUG?*/
  height: Hug (100px);
  top: 214px;
  left: 60px;
  padding: 25px 20px 25px 20px;
  border-radius: 5px;
  gap: 56px;
  background: #1f2b6c;
  position: relative;
}

.bookAnAppointment {
  width: 171px;
  height: 22px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcfefe;
}

.calendar {
  width: 50px;
  height: 50px;
  border: 2px;
  left: 247px;
  top: 10px;
  position: absolute;
}

.team {
  width: 50px;
  height: 42.240631103515625px;
  border: 2px;
}

.teaml1 {
  width: 39.58333206176758px;
  height: 42.10730743408203px;
  top: 10px;
  left: 358.2080078125px;
  border: 2px;
  position: absolute;
}

.teaml2 {
  width: 50px;
  height: 33.35708999633789px;
  top: 19px;
  left: 353px;
  border: 2px;
  position: absolute;
}

.cash {
  width: 50px;
  height: 36.45833206176758px;
  border: 2px;
  left: 459px;
  top: 14px;
  position: absolute;
}

.smallNews {
  width: 526px;
  height: 368px;
  top: 390px;
  left: 823px;
  border: 2px dashed #7b61ff;
  border-radius: 5px;
  position: relative;
}

.hovered {
  width: 486px;
  height: 154px;
  top: 194px;
  left: 20px;
  position: relative;
}

.rec34 {
  width: 160px;
  height: 154px;
  top: 0px;
  left: 0px;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
}

.rec13 {
  width: 486px;
  height: 154px;
  border-radius: 5px;
  top: 194px;
  left: 20px;
  background: #fcfefe;
  box-shadow: 0px 0px 20px 0px #0000000d;
}

.group67 {
  width: 274px;
  height: 114px;
  top: 20px;
  left: 180px;
  position: absolute;
}

.description {
  width: 274px;
  height: 16px;
  position: absolute;
  /*styleName: Small;*/
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #159eec;
}

.newsText {
  width: 261px;
  height: 50px;
  top: 30px;
  position: absolute;
  /*styleName: Body 2;*/
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.group66 {
  width: 88px;
  height: 16px;
  top: 96px;
  position: absolute;
}

.group65 {
  width: 39px;
  height: 16px;
  left: 49px;
  position: absolute;
}

.count {
  width: 18px;
  height: 16px;
  left: 20px;
  position: absolute;
}

.like {
  width: 16px;
  height: 14.193756103515625px;
  position: absolute;
  background: white;
  border: white;
}

.heart {
  left: 0px;
  top: 0px;
  position: absolute;
}

.group64 {
  width: 39px;
  height: 16px;
  position: absolute;
}

.default {
  width: 486px;
  height: 154px;
  top: 20px;
  left: 20px;
  position: absolute;
}

.contactsSection {
  width: 992px;
  height: 363px;
  top: 1726px;
  left: 60px;
  position: relative;
}

.group52 {
  width: 160px;
  height: 66px;
  left: 416px;
  position: absolute;
}

.text1Group52 {
  width: 160px;
  height: 21px;
  left: 416px;
  /*styleName: Caption;*/
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #159eec;
}

.text2Group52 {
  width: 127px;
  height: 37px;
  top: 29px;
  left: 0px;
  /*styleName: Display 2;*/
  font-family: Yeseva One;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #1f2b6c;
  position: absolute;
}

.group82 {
  width: 992px;
  height: 233px;
  top: 130px;
  border-radius: 5px;
  position: absolute;
}

.group81 {
  width: 233px;
  height: 233px;
  border-radius: 5px;
  position: absolute;
}

.rectangle13 {
  width: 233px;
  height: 233px;
  border-radius: 5px;
  background: #bfd2f8;
}

.group77 {
  width: 148px;
  height: 131px;
  top: 52px;
  left: 26px;
  position: absolute;
}

.group188 {
  width: 40.19810485839844px;
  height: 38.18998718261719px;
  border: 2px;
  position: absolute;
}

.group200 {
  width: 144px;
  height: 78px;
  top: 53px;
  left: 4px;
  position: absolute;
}

.group200PhoneNumber1 {
  width: 139px;
  height: 22px;
  top: 29px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
  position: absolute;
}

.group200PhoneNumber2 {
  width: 144px;
  height: 22px;
  top: 56px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
  position: absolute;
}

.group200Text {
  width: 113px;
  height: 21px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
  position: absolute;
}

.group79 {
  width: 233px;
  height: 233px;
  left: 253px;
  border-radius: 5px;
  position: absolute;
}

.rectangle13_2 {
  width: 233px;
  height: 233px;
  border-radius: 5px;
  background: #1f2b6c;
}

.location {
  width: 91px;
  height: 21px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #bfd2f8;
  position: absolute;
}

.somePlace {
  width: 133px;
  height: 22px;
  top: 29px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #bfd2f8;
  position: absolute;
}

.someCountry {
  width: 153px;
  height: 22px;
  top: 56px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #bfd2f8;
  position: absolute;
}

.group83 {
  width: 233px;
  height: 233px;
  left: 506px;
  border-radius: 5px;
  position: absolute;
}

.emailText {
  width: 57px;
  height: 21px;
  position: absolute;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
}

.email1 {
  width: 182px;
  height: 22px;
  top: 29px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
  position: absolute;
}

.email2 {
  width: 172px;
  height: 16px;
  top: 56px;
  /*styleName: Small;*/
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #1f2b6c;
}

.group84 {
  width: 233px;
  height: 233px;
  left: 759px;
  border-radius: 5px;
  position: absolute;
}

.hoursText {
  width: 162px;
  height: 21px;
  position: absolute;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2b6c;
}

.workingHours1 {
  width: 168px;
  height: 22px;
  top: 29px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #1f2b6c;
}

.workingHours2 {
  width: 187px;
  height: 22px;
  top: 56px;
  /*styleName: Body;*/
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #1f2b6c;
}

/*border: 1.5px solid #526AE9;*/
