.article-slug {
    display: flex;
    flex-direction: row;
}

.article-slug__image {
    width: 3.75rem;
    height: auto;
}

.article-slug__content {
    margin-left: 0.625rem;

    width: 12.75rem;
}

.article-slug__date {
    margin-bottom: 0.3125rem;
    margin-top: 0.25rem;

    color: #159EEC; 
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400; 
}

.article-slug__title {
    margin-top: 0;
    margin-bottom: 0;

    line-height: normal;
    font-family: 'Work Sans', sans-serif; 
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500; 
}